.aside_border{
    border-right:1px solid #f0f0f0;
    padding-right:10px;
}
.tree_top_border{
    border-top:1px solid #f0f0f0;
    padding-top:10px;
}
.padding_10{
    padding: 10px !important;
}
.padding_top_10{
    padding-top: 10px !important;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content{
    background-color: #f0f0f0;
}
.el-tree-node__content{
    height: 32px;
}
.align-right{
    text-align: right;
}
.el-main_padding1{
    padding-left: 0px;
    padding-right: 0px;
}
.button-new-tag{
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.vW{
    width: 100%;
}
.vWimp{
    width: 100% !important;
}
.vH{
    height: 100%;
}